// Specific CSS for your home-page
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F9F9F9;
}

#blog-title {
  font-family: 'Squada One';
  text-align: center;
}

.btn-aligment {
  margin-top: 30px;
  margin-left:80px;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.btn--animated {
    animation: moveInBottom .5s ease-out 0.75s;
    animation-fill-mode: backwards; }
