.card {
  background: #FFFFFF;
  color: black;
  padding: 50px 40px;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: none;
}

.card-top {
  line-height: 1.6px;
}

.card-title-line-height {
  line-height: 40pt;
}

.card-location-line-height {
  line-height: 10pt;
}

.card-content img {
  height: 130px;
  width: 270px;
  background-size: cover;
}

@media(max-width: 1300px) {
  .card-content img {
    height: 130px;
  width: 200px;
    background-size: cover;
  }
}

@media(max-width: 992px) {
  .card-content img {
    width: 100%;
    height: auto;
    background-size: cover;
  }
}

.card-time {
  margin-top: 40px;
  color: #BDBDBD;
}

.card-time p {
  margin-bottom: 20px;
}

.card-tag  {
  font-size: 13px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.card-user-info {
  font-size: 12px;
  margin-left: -18px;
}

#card-post-title {
  margin-top: 8px;
}

#card-user-name {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 800;
  font-size: 15px;
}

.link-style-header {
  text-decoration: none;
  color: black;
  font-weight: 800;
  display: block;
  font-size: 55px !important;
}

.card-post-body {
  margin-left: 0;
}

.card-displayed-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
